/* Styling */
@import "normalize"; 
@import "lightgallery";
@import "lg-transitions";


body {
    background: #4dc6d0;
}

// Portfolio items 

figure {
    width: 300px;
    background-color: #c49ec6;
    padding: 1em; 
    text-align: center;
}

figure img {
    box-shadow: 2px 2px 2px gray;
}